#A2D_RADIO,
#A2D_SCREEN,
#A2D_INTERNET {
  font-size: large;
  display: flex;
}

#A2D_BAR.hidden,
#A2D_RADIO.hidden,
#A2D_SCREEN.hidden,
#A2D_INTERNET.hidden {
  display: none;
}

#A2D_SCREEN_TEXT,
#A2D_INTERNET_TEXT {
  margin-right: 10px;
}

#A2D_RADIO_IMG {
  height: 100px;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0;
}

#A2D_SCREEN_BAR.line {
  height: 40px;
  font-size: large;
}

#A2D_SCREEN_BAR.circle {
  margin: 20px;
  width: 100px;
  height: 93px;
  font-size: large;
}

#A2D_SCREEN_BAR.semicircle {
  margin: 20px;
  width: 100px;
  font-size: large;
}
